$face:#fdf9ce;
$hair:#101110;
$dress_light:#52b5bd;
$dress:#043b5f;
$dress_deep:#141252;
$skin:#fdf3d5;
$skin_shadow:#675335;
$belt:#e0d782;

$main_colour: $dress;
$theme_colour: $dress_deep; /* tam, hitomi */
$font_backgroud_colour: $skin;

$body_colour: $theme_colour;
$body_backgroud_colour: $font_backgroud_colour;
$body_font_size: 15px;
$sidebar_colour: $face;
$sidebar_a_hover_colour: $belt;
$sidebar_background_colour: $theme_colour;
$scrollbar_colour: $main_colour;
$scrollbar_thumb_colour: $body_backgroud_colour;
$scrollbar_track_colour: $main_colour;
$header_text_shadow: 2px 2px 5px $dress;
$header_border_colour: $theme_colour;
$header_a_colour: $theme_colour;
$page_table_border: 1px solid $theme_colour;

/* content */
$content_code_background: $font_backgroud_colour;

$code_box_shadow_colour1: $dress_light;
$code_box_shadow_colour2: $belt;
$code_box_shadow_colour3: $face;
$code_webkit_box_shadow: inset 0 1px 10px $code_box_shadow_colour1, 0 1px 0 $code_box_shadow_colour2, 0 -1px 0 $code_box_shadow_colour3;
$code_moz_box_shadow: inset 0 1px 10px $code_box_shadow_colour1, 0 1px 0 $code_box_shadow_colour2, 0 -1px 0 $code_box_shadow_colour3;
$code_box_shadow: inset 0 1px 10px $code_box_shadow_colour1, 0 1px 0 $code_box_shadow_colour2, 0 -1px 0 $code_box_shadow_colour3;

$content_em_strong_text_shadow: 1px 1px 2px $main_colour;
$content_em_strong_colour: $theme_colour;
$content_strong_text_shadow: 0 0 2px $main_colour;
$content_strong_colour: $theme_colour;

/* block */
$block_backgroud_colour: #f2f2f2;
$block_colour: $main_colour;

$ref_background: $theme_colour;
$ref_colour: #f2f2f2;
$ref_code_colour: $ref_colour;
$ref_code_webkit_box_shadow: inset 0 1px 10px #e0dcdc4d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
$ref_table_border: 1px solid $font_backgroud_colour;

$tip_background: #454849;
$tip_border_top_colour: #284750;
$note_background: #454b5e;
$note_border_top_colour: #070d1d;
$info_background: #2b2520;
$info_border_top_colour: #271200;
$warn_background: #533f3f;
$warn_border_top_colour: #270000;
